# Binaries and executables
*.exe
*.exe~
*.dll
*.so
*.dylib
autoclicker

# Output build artifacts
bin/
dist/

# IDE & OS files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Environment variables
.env

# Go binaries
*.exe
go.mod
go.sum